<div>
    <fieldset>
        <legend data-bind="text: localize('Exploration')"></legend>
        <div class="form-group">
            <label data-bind="tooltip: localize('ExplorationTooltip'), text: localize('Exploration')"></label>
            <div class="form-fields">
                <select data-bind="options: explorationStates, optionsText: label, value: selectedExplorationState"></select>
            </div>
        </div>

        <div class="form-group">
            <label data-bind="text: localize('Cleared'), tooltip: localize('ClearedTooltip')"></label>
            <input type="checkbox" data-bind="checked: cleared">
        </div>

        <div class="form-group">
            <label data-bind="text: localize('Claimed'), tooltip: localize('ClaimedTooltip')"></label>
            <div class="form-fields">
                <select data-bind="options: "
            </div>
        </div>
    </fieldset>
</div>

<form class="flexcol" autocomplete="off">
    <fieldset>

        <div class="form-group">
            <label data-tooltip="CHEX.HEXEDIT.ClaimedTooltip">{{localize 'CHEX.HEXEDIT.Claimed'}}</label>
            <div class="form-fields">
                <select name="claimed">
                    {{selectOptions claimees selected=hex.claimed nameAttr="id" labelAttr="label" blank=""}}
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>
            {{localize 'CHEX.HEXEDIT.Improvements'}}
            <button type="button" data-action="addImprovement" class="chex-add-button">
                <span>{{localize 'CHEX.HEXEDIT.Add'}}</span>
            </button>
        </legend>
        {{#each hex.improvements as |item i|}}
            {{> (lookup @root "improvementsFrag") id=i key=item.id show=item.show improvements=@root.improvements}}
        {{/each}}
    </fieldset>

    <fieldset>
        <legend>
            {{localize 'CHEX.HEXEDIT.Features'}}
            <button type="button" data-action="addFeature" class="chex-add-button">
                <span>{{localize 'CHEX.HEXEDIT.Add'}}</span>
            </button>
        </legend>
        {{#each hex.features as |item2 i2|}}
            {{> (lookup @root "featuresFrag") id=i2 key=item2.id name=item2.name show=item2.show features=@root.features}}
        {{/each}}
    </fieldset>

    <fieldset>
        <legend>
            {{localize 'CHEX.HEXEDIT.Resources'}}
            <button type="button" data-action="addResource" class="chex-add-button">
                <span>{{localize 'CHEX.HEXEDIT.Add'}}</span>
            </button>
        </legend>
        {{#each hex.resources as |item3 i3|}}
            {{> (lookup @root "resourcesFrag") id=i key=item3.id amount=item3.amount show=item3.show resources=@root.resources}}
        {{/each}}
    </fieldset>

    <fieldset>
        <legend>
            {{localize 'CHEX.HEXEDIT.Forageables'}}
            <button type="button" data-action="addForageable" class="chex-add-button">
                <span>{{localize 'CHEX.HEXEDIT.Add'}}</span>
            </button>
        </legend>
        {{#each hex.forageables as |item4 i4|}}
            {{> (lookup @root "forageablesFrag") id=i4 key=item4.id amount=item4.amount show=item4.show forageables=@root.resources}}
        {{/each}}
    </fieldset>

    <footer>
        <button type="submit">
            <i class="fa-solid fa-save"></i>
            <span>{{localize 'CHEX.HEXEDIT.Save'}}</span>
        </button>
    </footer>
</form>