<div>
    <select class="chex-realm-select" id="chex-realm-select" name="realms">
        {{selectOptions realms valueAttr="id" labelAttr="label" blank=""}}
    </select>
    <button data-action="report">
        {{localize "CHEX.REALMSELECTOR.IncomeReport"}}
    </button>
</div>