<div class="chex-terrain-selector">
    <button data-bind="click: showAlert">Click me</button>
    {{#each terrains}}
        <button id="{{id}}" data-tooltip="{{label}}" class="{{toolIcon}}" data-action="{{id}}"></button>
    {{/each}}
</div>