<form class="flexcol" autocomplete="off">
    <fieldset>
        <legend>
            {{localize 'CHEX.HEXEDIT.Improvements'}}
            <button type="button" data-action="addImprovement" class="chex-add-button">
                <span>{{localize 'CHEX.HEXEDIT.Add'}}</span>
            </button>
        </legend>
        {{#each improvements}}
            {{> (lookup @root "improvementsFrag") id=this.id }}
        {{/each}}
    </fieldset>
</form>