<div>
    <p>
        {{localize "CHEX.REMOVE.Info"}}
    </p>
    <button data-action="delete">{{localize "CHEX.HEXEDIT.Delete"}}</button>
    <button data-action="cancel">{{localize "CHEX.REMOVE.Cancel"}}</button>
</div>