<div>
    <fieldset>
        <legend data-bind="text: localize('Exploration')"></legend>
        <div class="form-group">
            <label data-bind="tooltip: localize('ExplorationTooltip'), text: localize('Exploration')"></label>
            <div class="form-fields">
                <select data-bind="options: explorationStates, optionsText: label, value: selectedExplorationState"></select>
            </div>
        </div>

        <div class="form-group">
            <label data-bind="text: localize('Cleared'), tooltip: localize('ClearedTooltip')"></label>
            <input type="checkbox" data-bind="checked: cleared">
        </div>

        <div class="form-group">
            <label data-bind="text: localize('Claimed'), tooltip: localize('ClaimedTooltip')"></label>
            <div class="form-fields">
                <select data-bind="options: realms, optionsText: label, value: selectedClaim"></select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend data-bind="text: localize('Improvements')">
            <button type="button" data-bind="click: addObject.bind($root, 'improvement')" class="chex-add-button">
                <span data-bind="text: localize('Add')"></span>
            </button>
        </legend>

        <div data-bind="template: { name: 'improvementTemplate', foreach: realms }">

        </div>
    </fieldset>

    <fieldset>
        <legend data-bind="text: localize('Features')">
            <button type="button" data-bind="click: addObject.bind($root, 'feature')" class="chex-add-button">
                <span data-bind="text: localize('Add')"></span>
            </button>
        </legend>

        <div data-bind="template: { name: 'featureTemplate', foreach: realms }">

        </div>
    </fieldset>

    <fieldset>
        <legend data-bind="text: localize('Resources')">
            <button type="button" data-bind="click: addObject.bind($root, 'resource')" class="chex-add-button">
                <span data-bind="text: localize('Add')"></span>
            </button>
        </legend>

        <div data-bind="template: { name: 'resourceTemplate', foreach: realms }">

        </div>
    </fieldset>

    <fieldset>
        <legend data-bind="text: localize('Forageables')">
            <button type="button" data-bind="click: addObject.bind($root, 'forageable')" class="chex-add-button">
                <span data-bind="text: localize('Add')"></span>
            </button>
        </legend>

        <div data-bind="template: { name: 'foreageableTemplate', foreach: realms }">

        </div>
    </fieldset>

    <footer>
        <button type="button" data-bind="click: save"></button>
        <i class="fa-solid fa-save"></i>
        <span data-bind="text: localize('Save')"></span>
    </footer>
</div>

<script type="text/html" id="improvementTemplate">
    <div class="form-group">
        <select data-bind="options: $root.improvementTypes value: id"></select>
        <input type="checkbox" data-bind="tooltip: localize('ShowToPlayersTooltip'), checked: show">
        <button data-bind="text: localize('Delete'), click: $root.deleteObject.bind($root, $root.improvements, $data)"  type="button" class="fa-solid fa-times chex-delete"></button>
    </div>
</script>

<script type="text/html" id="featureTemplate">
    <div class="form-group">
        <select name="features.{{id}}.id">
            {{selectOptions features selected=key nameAttr="id" labelAttr="label" blank=""}}
        </select>
        <input type="text" data-tooltip="CHEX.HEXEDIT.Name" name="features.{{id}}.name" value="{{name}}">
        <input type="checkbox" data-tooltip="CHEX.HEXEDIT.ShowToPlayersTooltip" name="features.{{id}}.show" {{checked show}}>
        <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="fa-solid fa-times chex-delete" data-action="delete"/>
    </div>
</script>

<script type="text/html" id="resourceTemplate">
    <div class="form-group">
        <select name="resources.{{id}}.id">
            {{selectOptions resources selected=key nameAttr="id" labelAttr="label" blank=""}}
        </select>
        <input type="number" data-tooltip="CHEX.HEXEDIT.Amount" name="resources.{{id}}.amount" value="{{amount}}">
        <input type="checkbox" data-tooltip="CHEX.HEXEDIT.ShowToPlayersTooltip" name="resources.{{id}}.show" {{checked show}}>
        <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="fa-solid fa-times chex-delete" data-action="delete"/>
    </div>
</script>

<script type="text/html" id="foreageableTemplate">
    <div class="form-group">
        <select name="forageables.{{id}}.id">
            {{selectOptions forageables selected=key nameAttr="id" labelAttr="label" blank=""}}
        </select>
        <input type="number" data-tooltip="CHEX.HEXEDIT.Amount" name="forageables.{{id}}.amount" value="{{amount}}">
        <input type="checkbox" data-tooltip="CHEX.HEXEDIT.ShowToPlayersTooltip" name="forageables.{{id}}.show" {{checked show}}>
        <button data-tooltip="CHEX.HEXEDIT.Delete" type="button" class="fa-solid fa-times chex-delete" data-action="delete"/>
    </div>
</script>