<aside class="hud">
    <p class="item">
        <span class="pull-right gray" data-bind="text: $root.localize('Hex')"></span>
    </p>

    <div class="separator flex">
        <div>

        </div>
        <img class="terrain" src="" data-bind="attr: {src: , alt: }">
    </div>
</aside>

<aside id="{{id}}" class="{{cssClass}}">
    <div>
        <p class="title item">
            <span class="value gray">{{localize "CHEX.HUD.Hex"}}</span>
        </p>
    </div>

    <div class="group flex">
        <div>
            <p class="item">
                <span class="gray key">{{localize "CHEX.HUD.Terrain"}}</span>
                <span class="value">{{terrain.label}}</span>
            </p>
            <p class="item">
                <span class="gray key">{{localize "CHEX.HUD.Travel"}}</span>
                <span class="value">{{travel.label}}</span>
            </p>
            <p class="item">
                <span class="gray key">{{localize "CHEX.HUD.TravelMultiplier"}}</span>
                <span class="value">x{{travel.multiplier}}</span>
            </p>
        </div>
        <img class="terrain" src="{{terrain.img}}">
    </div>

    <div class="group">
        {{#if explorationState.explored}}
        <p class="item">
            <span class="gray key">{{localize "CHEX.HUD.Explored"}}</span>
            <span class="value">{{localize explorationState.label}}</span>
        </p>
        {{/if}}
        {{#if hex.hexData.cleared}}
        <p class="item">
            <span class="gray key">{{localize "CHEX.HUD.Cleared"}}</span>
            <i class="fa-solid fa-check"></i>
        </p>
        {{/if}}
        {{#if hex.hexData.claimed}}
        <p class="item">
            <span class="gray key">{{localize "CHEX.HUD.Claimed"}}</span>
            <span class="value" style="color: {{claim.color}};">{{claim.label}}</span>
        </p>
        {{/if}}
    </div>

    {{#if improvements.length}}
        <div class="group feature">
            {{#each improvements}}
                <p class="item">
                    <img src="{{this.img}}">
                    <span class="key">{{this.label}}</span>
                    <span class="formula">{{this.special}}</span>
                    <i class="fa-solid {{this.visiFrag}}"></i>
                </p>
            {{/each}}
        </div>
    {{/if}}

    {{#if features.length}}
        <div class="group feature">
            {{#each features}}
                <p class="item">
                    <img src="{{this.img}}">
                    <span class="key">{{this.label}}</span>
                    <span class="key">{{this.name}}</span>
                    <i class="fa-solid {{this.visiFrag}}"></i>
                </p>
            {{/each}}
        </div>
    {{/if}}

    {{#if resources.length}}
        <div class="group feature">
            {{#each resources}}
                <p class="item">
                    <img src="{{this.img}}">
                    <span class="key">{{this.label}}</span>
                    <span>{{this.amount}}</span>
                    <i class="fa-solid {{this.visiFrag}}"></i>
                </p>
            {{/each}}
        </div>
    {{/if}}

    {{#if forageables.length}}
        <div class="group feature">
            {{#each forageables}}
                <p class="item">
                    <img src="{{this.img}}">
                    <span>{{this.label}}</span>
                    <i class="fa-solid fa-gift"></i>
                    <span class="value">{{this.amount}}</span>
                    <i class="fa-solid {{this.visiFrag}}"></i>
                </p>
            {{/each}}
        </div>
    {{/if}}
</aside>