<form class="flexcol" autocomplete="off">
    <div class="chex-button-row">
        <button data-bind="text: localize('CHEX.HEXEDIT.Improvements'), click: toggleTab('improvements'), css: { 'active': activeTab === 'improvements'}"></button>
        <button data-bind="text: localize('CHEX.HEXEDIT.Features'), click: toggleTab('features'), css: { 'active': activeTab === 'features'}"></button>
        <button data-bind="text: localize('CHEX.HEXEDIT.Realms'), click: toggleTab('realms'), css: { 'active': activeTab === 'realms'}"></button>
        <button data-bind="text: localize('CHEX.HEXEDIT.Resources'), click: toggleTab('resources'), css: { 'active': activeTab === 'resources'}"></button>
        <button data-bind="text: localize('CHEX.HEXEDIT.Terrains'), click: toggleTab('terrains'), css: { 'active': activeTab === 'terrains'}"></button>
        <button data-bind="text: localize('CHEX.HEXEDIT.Travels'), click: toggleTab('travels'), css: { 'active': activeTab === 'travels'}"></button>
    </div>

    <fieldset data-bind="visible: activeTab === 'improvements'">
        <legend>
            <span data-bind="text: localize('CHEX.HEXEDIT.Improvements')"></span>
            <button type="button" data-bind="click: addObject.bind($root, 'improvement')" class="chex-add-button">
                <span data-bind="text: localize('CHEX.HEXEDIT.Add')"></span>
            </button>
        </legend>
        <div data-bind="template: { name: 'improvementTemplate', foreach: improvements }">

        </div>
    </fieldset>

    <fieldset data-bind="visible: activeTab === 'features'">
        <legend>
            <span data-bind="text: localize('CHEX.HEXEDIT.Features')"></span>
            <button type="button" data-bind="click: addObject.bind($root, 'features')" class="chex-add-button">
                <span data-bind="text: localize('CHEX.HEXEDIT.Add')"></span>
            </button>
        </legend>
        <div data-bind="template: { name: 'featureTemplate', foreach: features }">

        </div>
    </fieldset>

    <fieldset data-bind="visible: activeTab === 'realms'">
        <legend>
            <span data-bind="text: localize('CHEX.HEXEDIT.Realms')"></span>
            <button type="button" data-bind="click: addObject.bind($root, 'realms')" class="chex-add-button">
                <span data-bind="text: localize('CHEX.HEXEDIT.Add')"></span>
            </button>
        </legend>
        <div data-bind="template: { name: 'realmTemplate', foreach: realms }">

        </div>
    </fieldset>

    <fieldset data-bind="visible: activeTab === 'resources'">
        <legend>
            <span data-bind="text: localize('CHEX.HEXEDIT.Resources')"></span>
            <button type="button" data-bind="click: addObject.bind($root, 'resources')" class="chex-add-button">
                <span data-bind="text: localize('CHEX.HEXEDIT.Add')"></span>
            </button>
        </legend>
        <div data-bind="template: { name: 'resourceTemplate', foreach: resources }">

        </div>
    </fieldset>

    <fieldset data-bind="visible: activeTab === 'terrains'">
        <legend>
            <span data-bind="text: localize('CHEX.HEXEDIT.Terrains')"></span>
            <button type="button" data-bind="click: addObject.bind($root, 'terrains')" class="chex-add-button">
                <span data-bind="text: localize('CHEX.HEXEDIT.Add')"></span>
            </button>
        </legend>
        <div data-bind="template: { name: 'terrainTemplate', foreach: terrains }">

        </div>
    </fieldset>

    <fieldset data-bind="visible: activeTab === 'travels'">
        <legend>
            <span data-bind="text: localize('CHEX.HEXEDIT.Travels')"></span>
            <button type="button" data-bind="click: addObject.bind($root, 'travels')" class="chex-add-button">
                <span data-bind="text: localize('CHEX.HEXEDIT.Add')"></span>
            </button>
        </legend>
        <div data-bind="template: { name: 'travelTemplate', foreach: travels }">

        </div>
    </fieldset>

    <footer>
        <button data-bind="click: save">
            <i class="fa-solid fa-save"></i>
            <span data-bind="text: localize('CHEX.HEXEDIT.Save')"></span>
        </button>
    </footer>
</form>

<script type="text/html" id="featureTemplate" src="frags/chex-custom-features.html"></script>
<script type="text/html" id="improvementTemplate" src="frags/chex-custom-improvements.html"></script>
<script type="text/html" id="realmTemplate" src="frags/chex-custom-realms.html"></script>
<script type="text/html" id="resourceTemplate" src="frags/chex-custom-resources.html"></script>
<script type="text/html" id="terrainTemplate" src="frags/chex-custom-terrains.html"></script>
<script type="text/html" id="travelTemplate" src="frags/chex-custom-travels.html"></script>