<div class="chex customizer">
    <div class="button-row">
        <button data-bind="text: localize('Improvements'), click: toggleTab('improvements'), css: { 'active': activeTab === 'improvements'}"></button>
        <button data-bind="text: localize('Features'), click: toggleTab('features'), css: { 'active': activeTab === 'features'}"></button>
        <button data-bind="text: localize('Realms'), click: toggleTab('realms'), css: { 'active': activeTab === 'realms'}"></button>
        <button data-bind="text: localize('Resources'), click: toggleTab('resources'), css: { 'active': activeTab === 'resources'}"></button>
        <button data-bind="text: localize('Terrains'), click: toggleTab('terrains'), css: { 'active': activeTab === 'terrains'}"></button>
        <button data-bind="text: localize('Travels'), click: toggleTab('travels'), css: { 'active': activeTab === 'travels'}"></button>
    </div>

    <div style="height: calc(100% - 4rem); width: 100%;">
        <fieldset data-bind="visible: activeTab() === '' || activeTab() === 'improvements'">
            <legend>
                <span data-bind="text: localize('Improvements')"></span>
                <button type="button" data-bind="click: addObject.bind($root, 'improvement')" class="add">
                    <span data-bind="text: localize('Add')"></span>
                </button>
            </legend>
            <div data-bind="template: { name: 'improvementTemplate', foreach: improvements }">

            </div>
        </fieldset>

        <fieldset data-bind="visible: activeTab() === '' || activeTab() === 'features'">
            <legend>
                <span data-bind="text: localize('Features')"></span>
                <button type="button" data-bind="click: addObject.bind($root, 'features')" class="add">
                    <span data-bind="text: localize('Add')"></span>
                </button>
            </legend>
            <div data-bind="template: { name: 'featureTemplate', foreach: features }">

            </div>
        </fieldset>

        <fieldset data-bind="visible: activeTab() === '' || activeTab() === 'realms'">
            <legend>
                <span data-bind="text: localize('Realms')"></span>
                <button type="button" data-bind="click: addObject.bind($root, 'realms')" class="add">
                    <span data-bind="text: localize('Add')"></span>
                </button>
            </legend>
            <div data-bind="template: { name: 'realmTemplate', foreach: realms }">

            </div>
        </fieldset>

        <fieldset data-bind="visible: activeTab() === '' || activeTab() === 'resources'">
            <legend>
                <span data-bind="text: localize('Resources')"></span>
                <button type="button" data-bind="click: addObject.bind($root, 'resources')" class="add">
                    <span data-bind="text: localize('Add')"></span>
                </button>
            </legend>
            <div data-bind="template: { name: 'resourceTemplate', foreach: resources }">

            </div>
        </fieldset>

        <fieldset data-bind="visible: activeTab() === '' || activeTab() === 'terrains'">
            <legend>
                <span data-bind="text: localize('Terrains')"></span>
                <button type="button" data-bind="click: addObject.bind($root, 'terrains')" class="add">
                    <span data-bind="text: localize('Add')"></span>
                </button>
            </legend>
            <div data-bind="template: { name: 'terrainTemplate', foreach: terrains }">

            </div>
        </fieldset>

        <fieldset data-bind="visible: activeTab() === '' || activeTab() === 'travels'">
            <legend>
                <span data-bind="text: localize('Travels')"></span>
                <button type="button" data-bind="click: addObject.bind($root, 'travels')" class="add">
                    <span data-bind="text: localize('Add')"></span>
                </button>
            </legend>
            <div data-bind="template: { name: 'travelTemplate', foreach: travels }">

            </div>
        </fieldset>
    </div>

    <footer>
        <button data-bind="click: save">
            <i class="fa-solid fa-save"></i>
            <span data-bind="text: localize('Save')"></span>
        </button>
    </footer>
</div>

<!-- Templates -->
<script type="text/html" id="featureTemplate">
    <div class="grid-container">
        <button data-bind="attr: { 'data-tooltip': $root.localize('Delete') }, click: $root.deleteObject.bind($root, $root.features, $data)" type="button" class="fa-solid fa-times delete"></button>
        <div class="item-container">
            <p class="item">
                <span data-bind="text: $root.localize('Id'), attr: { 'data-tooltip': $root.localize('IdTT') }" class="key"></span>
                <input type="text" data-bind="value: id">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Label'), attr: { 'data-tooltip': $root.localize('Label') }" class="key"></span>
                <input type="text" data-bind="value: label">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Image'), attr: { 'data-tooltip': $root.localize('Image') }" class="key"></span>
                <input class="icon-path" type="text" data-bind="value: img">
                <button data-bind="attr: { 'data-tooltip': $root.localize('PickIconTT') }, click: $root.pickIcon.bind($root, $data)" class="fa-solid fa-image open-filepicker"></button>
            </p>
        </div>
        <img class="img-preview" data-bind="attr: { src: img, alt: 'Image Preview' }, click: $root.pickIcon.bind($root, $data)">
    </div>
</script>

<script type="text/html" id="improvementTemplate">
    <div class="grid-container">
        <button data-bind="attr: { 'data-tooltip': $root.localize('Delete') }, click: $root.deleteObject.bind($root, $root.improvements, $data)" type="button" class="fa-solid fa-times delete"></button>
        <div class="item-container">
            <p class="item">
                <span data-bind="text: $root.localize('Id'), attr: { 'data-tooltip': $root.localize('IdTT') }" class="key"></span>
                <input type="text" data-bind="value: id">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Label'), attr: { 'data-tooltip': $root.localize('Label') }" class="key"></span>
                <input type="text" data-bind="value: label">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Image'), attr: { 'data-tooltip': $root.localize('Image') }" class="key"></span>
                <input class="icon-path" type="text" data-bind="value: img">
                <button data-bind="attr: { 'data-tooltip': $root.localize('PickIconTT') }, click: $root.pickIcon.bind($root, $data)" class="fa-solid fa-image open-filepicker"></button>
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Formula'), attr: { 'data-tooltip': $root.localize('FormulaTT') }" class="key"></span>
                <input type="text" data-bind="value: special">
            </p>
        </div>
        <img class="img-preview" data-bind="attr: { src: img, alt: 'Image Preview' }, click: $root.pickIcon.bind($root, $data)">
    </div>
</script>

<script type="text/html" id="realmTemplate">
    <div class="grid-container">
        <button data-bind="attr: { 'data-tooltip': $root.localize('Delete') }, click: $root.deleteObject.bind($root, $root.realms, $data)" type="button" class="fa-solid fa-times delete"></button>
        <div class="item-container">
            <p class="item">
                <span data-bind="text: $root.localize('Id'), attr: { 'data-tooltip': $root.localize('IdTT') }" class="key"></span>
                <input type="text" data-bind="value: id">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Label'), attr: { 'data-tooltip': $root.localize('Label') }" class="key"></span>
                <input type="text" data-bind="value: label">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Color'), attr: { 'data-tooltip': $root.localize('Color') }" class="key"></span>
                <input type="color" data-bind="value: color">
            </p>
        </div>
    </div>
</script>

<script type="text/html" id="resourceTemplate">
    <div class="grid-container">
        <button data-bind="attr: { 'data-tooltip': $root.localize('Delete') }, click: $root.deleteObject.bind($root, $root.resources, $data)" type="button" class="fa-solid fa-times delete"></button>
        <div class="item-container">
            <p class="item">
                <span data-bind="text: $root.localize('Id'), attr: { 'data-tooltip': $root.localize('IdTT') }" class="key"></span>
                <input type="text" data-bind="value: id">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Label'), attr: { 'data-tooltip': $root.localize('Label') }" class="key"></span>
                <input type="text" data-bind="value: label">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Image'), attr: { 'data-tooltip': $root.localize('Image') }" class="key"></span>
                <input class="icon-path" type="text" data-bind="value: img">
                <button data-bind="attr: { 'data-tooltip': $root.localize('PickIconTT') }, click: $root.pickIcon.bind($root, $data)" class="fa-solid fa-image open-filepicker"></button>
            </p>
        </div>
        <img class="img-preview" data-bind="attr: { src: img, alt: 'Image Preview' }, click: $root.pickIcon.bind($root, $data)">
    </div>
</script>

<script type="text/html" id="terrainTemplate">
    <div class="grid-container">
        <button data-bind="attr: { 'data-tooltip': $root.localize('Delete') }, click: $root.deleteObject.bind($root, $root.terrains, $data)" type="button" class="fa-solid fa-times delete"></button>
        <div class="item-container">
            <p class="item">
                <span data-bind="text: $root.localize('Id'), attr: { 'data-tooltip': $root.localize('IdTT') }" class="key"></span>
                <input type="text" data-bind="value: id">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Label'), attr: { 'data-tooltip': $root.localize('Label') }" class="key"></span>
                <input type="text" data-bind="value: label">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Image'), attr: { 'data-tooltip': $root.localize('Image') }" class="key"></span>
                <input class="icon-path" type="text" data-bind="value: img">
                <button data-bind="attr: { 'data-tooltip': $root.localize('PickIconTT') }, click: $root.pickIcon.bind($root, $data)" class="fa-solid fa-image open-filepicker"></button>
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('ToolIcon'), attr: { 'data-tooltip': $root.localize('ToolIconTT') }" class="key"></span>
                <input type="text" data-bind="value: toolIcon">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Travel'), attr: { 'data-tooltip': $root.localize('TravelTT') }" class="key"></span>
                <input type="text" data-bind="value: travel">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Color'), attr: { 'data-tooltip': $root.localize('Color') }" class="key"></span>
                <input type="color" data-bind="value: color">
            </p>
        </div>
        <img class="img-preview" data-bind="attr: { src: img, alt: 'Image Preview' }, click: $root.pickIcon.bind($root, $data)">
    </div>
</script>

<script type="text/html" id="travelTemplate">
    <div class="grid-container">
        <button data-bind="attr: { 'data-tooltip': $root.localize('Delete') }, click: $root.deleteObject.bind($root, $root.travels, $data)" type="button" class="fa-solid fa-times delete"></button>
        <div class="item-container">
            <p class="item">
                <span data-bind="text: $root.localize('Id'), attr: { 'data-tooltip': $root.localize('IdTT') }" class="key"></span>
                <input type="text" data-bind="value: id">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Label'), attr: { 'data-tooltip': $root.localize('Label') }" class="key"></span>
                <input type="text" data-bind="value: label">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Multiplier'), attr: { 'data-tooltip': $root.localize('MultiplierTT') }" class="key"></span>
                <input type="number" data-bind="value: multiplier">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Color'), attr: { 'data-tooltip': $root.localize('Color') }" class="key"></span>
                <input type="color" data-bind="value: color">
            </p>
            <p class="item">
                <span data-bind="text: $root.localize('Special'), attr: { 'data-tooltip': $root.localize('SpecialTT') }" class="key"></span>
                <input type="checkbox" data-bind="checked: special">
            </p>
        </div>
    </div>
</script>