<form class="flexcol" autocomplete="off">
    <fieldset>
        <legend>
            {{localize 'CHEX.HEXEDIT.Improvements'}}
            <button type="button" data-action="addImprovement">
                <i class="fa-solid fa-plus"/>
                <span>{{localize 'CHEX.HEXEDIT.Add'}}</span>
            </button>
        </legend>
        {{#each improvements as |item index|}}
            <div class="form-group">

            </div>
    </fieldset>
</form>