.chex .customizer .button-row {
  display: flex;
}
.chex .customizer .button-row button {
  height: -moz-fit-content;
  height: fit-content;
}
.chex .customizer .button-row button.active {
  border: 1px solid var(--color-border-highlight-alt);
  border-bottom: 1px solid var(--color-border-highlight);
  box-shadow: 0 0 5px var(--color-shadow-highlight);
}
.chex .customizer .icon-path {
  flex: 1;
}
.chex .customizer .delete {
  max-width: 27px;
  min-height: 27px;
}
.chex .customizer .add {
  font-size: 11px;
  height: 25px;
  width: -moz-fit-content;
  width: fit-content;
  line-height: initial;
}
.chex .customizer .open-filepicker {
  width: -moz-fit-content;
  width: fit-content;
}
.chex .customizer .img-preview {
  max-width: 100%;
  max-height: 100px;
  align-self: center;
}
.chex .customizer .item {
  display: flex;
  align-items: center;
  margin: 0px;
}
.chex .customizer .key {
  font-weight: bold;
  margin-right: 10px;
  min-width: 60px;
}
.chex .customizer .grid-container {
  display: grid;
  grid-template-columns: 50px 1fr 100px;
  -moz-column-gap: 6px;
       column-gap: 6px;
  align-items: flex-start;
  margin-bottom: 20px;
}
.chex .customizer .item-container {
  display: flex;
  flex-direction: column;
}
.chex .terrain-selector {
  display: flex;
  flex-wrap: wrap;
}
.chex .terrain-selector button {
  margin-bottom: 5px;
  width: 30px;
}
.chex .terrain-selector button.active {
  border: 1px solid var(--color-border-highlight-alt);
  border-bottom: 1px solid var(--color-border-highlight);
  box-shadow: 0 0 5px var(--color-shadow-highlight);
}
.chex .realm-selector {
  width: 100%;
}
.chex .hud {
  background-color: rgba(0, 0, 0, 0.8);
  color: ivory;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 1rem;
}
.chex .hud .separator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -o-border-image: linear-gradient(to right, transparent, #999 10%, 90%, transparent) 1/2px 0 0 0;
     border-image: linear-gradient(to right, transparent, #999 10%, 90%, transparent) 1/2px 0 0 0;
}
.chex .hud .terrain-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chex .hud .row-item {
  display: flex;
  flex: 1;
  text-align: center;
  white-space: nowrap;
  margin: 0.2rem;
  align-items: center;
}
.chex .hud .row-item:first-child {
  padding-top: 0.5rem;
}
.chex .hud .row-item:last-child {
  padding-bottom: 0.5rem;
}
.chex .hud .row-item .amount {
  flex: 1;
}
.chex .hud .flex {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  white-space: nowrap;
}
.chex .hud .flex div {
  flex: 100%;
}
.chex .hud .terrain {
  margin: 1rem 0rem 1rem 1rem;
  flex: 0 0 160px;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}
.chex .hud .pull-left {
  text-align: left;
}
.chex .hud .pull-right {
  text-align: right;
  width: 100%;
}
.chex .hud .gray {
  color: gray;
}
.chex .hud .icon {
  height: 4rem;
  border-radius: 24px;
  margin-right: 20px;
}
.chex .hud i {
  text-align: center;
  margin-left: 20px;
}
.chex .edit .form-group {
  display: flex;
}
.chex .edit .form-group label {
  flex: 1;
}
.chex .edit select {
  width: 200px;
}
.chex .edit .add {
  font-size: 11px;
  height: 25px;
  width: -moz-fit-content;
  width: fit-content;
  line-height: initial;
}
.chex .edit .delete {
  max-width: 27px;
  min-height: 27px;
}

.ko-window {
  height: auto !important;
  max-height: 800px;
}/*# sourceMappingURL=chex.css.map */