#chex-hud {
  background: rgba(0, 0, 0, 0.8);
  color: #EEE;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border: 2px solid #000;
  border-radius: 1rem;
}

#chex-hud div.group {
  border-image: linear-gradient(to right, transparent, #999 10%, 90%, transparent) 1 / 2px 0 0 0;
}

#chex-hud div.group p.item {
  min-height: 32px;
  margin: 0;
  padding: 0.4rem 0;
}
#chex-hud div.group p.item i {
  padding: 14px 0 0 0;
  flex: 0 0 5rem;
  text-align: center;
}
#chex-hud div.group p.item:first-child {
  padding-top: 1rem;
}
#chex-hud div.group p.item:last-child {
  padding-bottom: 1rem;
}
#chex-hud .flex {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  white-space: nowrap;
}
#chex-hud .flex div {
  flex: 100%;
}
#chex-hud .flex img.terrain {
  margin: 1rem 0;
  flex: 0 0 160px;
  width: 160px;
  height: 160px;
  border-radius: 10px;
}
#chex-hud p.item {
  border-radius: 50px;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}
#chex-hud p.item span {
  align-self: center;
}
#chex-hud p.item .key {
  flex: 1;
  text-align: left;
}
#chex-hud p.item .value {
  text-align: right;
  width: 100%;
}
#chex-hud p.item .gray {
  color: #a0a0a0;
}
#chex-hud p.item img {
  height: 4rem;
  border-radius: 24px;
}


.chex-delete {
  max-width: 27px;
  min-height: 27px;
}

.chex-add-button {
  font-size: 11px;
  height: 25px;
  width: fit-content;
  line-height: initial;
}

.chex-open-filepicker {
  width: fit-content;
}

.chex-flex {
  display: flex;
  gap: 2px;
  align-items: center;
  white-space: nowrap;
}

.chex-img-preview {
  max-width: 100%;
  max-height: 100px;
  align-self: center;
}


.chex-item {
  display: flex;
  align-items: center;
  margin: 0px;
}

.chex-key {
  font-weight: bold;
  margin-right: 10px;
  min-width: 60px;
}

.chex-grid-container {
  display: grid;
  grid-template-columns: 50px 1fr 100px; /* Adjust column widths as needed */
  column-gap: 6px;
  align-items: flex-start;
  margin-bottom: 20px;
}

.chex-item-container {
  display: flex;
  flex-direction: column;
}

.chex-icon-path {
  flex: 1; /* Take remaining space in the container */
}

.chex-button-row {
  display: flex;
}